    body {
            margin: 0;
            padding: 0;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 16px;
            background-color: #f0f0f0;
            background-image: url('Wallpaper_v2.jpg');
      
            background-position: center center;  

        }   


        header {
            background-image: url('bg-4.png');
            background-size: cover;
            min-height: 400px;
            border: 1px solid #000;
            box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
            -webkit-mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
            mask-image: linear-gradient(to bottom, black 90%, transparent 100%);
        }


        header nav ul {
            list-style: none;
            padding: 0;
            margin-right: 3em;
            text-align: right;
        }

        header nav ul li {
            display: inline-block;
            margin-left: 20px;
            border: 1px solid #000;
            padding: 15px;
            background-image: radial-gradient(circle, rgba(39, 39, 39, 0.6), rgba(27, 27, 27, 0.9));
            transition: 0.3s;
        }

        header nav ul li:hover {
            background-image: radial-gradient(circle, rgba(59, 59, 59, 0.6), rgba(47, 47, 47, 0.9));
            cursor: pointer;
            transform: scale(1.05);

        }   

        header nav ul li a {
            text-decoration: none;
            color: #F9C542;
            text-shadow: 4px 4px 4px #2d112e; 
            font-weight: bold;
        }  
        
        header h1 {
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #F9C542;
            text-shadow: 4px 4px 4px #2d112e;  
        }

        header h2 {
            text-align: center;
            color: #F9C542;
            text-shadow: 4px 4px 4px #2d112e;   
        }

        footer {
            max-width: 95%;
            margin: 40px auto;
            padding: 20px;
            background-color: #35353569;
            border: 3px solid #1b1b1b;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        footer h2 {
            text-align: center;
            color: #F9C542;
            text-shadow: 4px 4px 4px #2d112e;   
        }

        footer h1 {
            text-align: center;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #F9C542;
            text-shadow: 4px 4px 4px #2d112e;  
        }

        footer h3 {
            text-align: center;
            color: #ffffff;
            text-shadow: 2px 2px 4px #2d112e;  
        }

        footer p {
            text-align: center;
            color: #ffffff;
            text-shadow: 2px 2px 4px #2d112e;  
        }

        form {
            background-color: #111;
            justify-content: center;       
            color: #fff;
            border: 2px solid #6a0dad;
            border-radius: 12px;
            padding: 30px 40px;
            width: 350px;
            box-shadow: 0 0 20px #6a0dad88;
            margin: auto auto;
        }

        form h2 {
            text-align: center;
            justify-content: center;
            color: #ffdd00; 
            margin-bottom: 20px;
            text-shadow: 0 0 10px #6a0dad;
        }

        label {
            display: block;
            margin-top: 15px;
            margin-bottom: 5px;
            /*font-weight: bold;*/
        }

        input {
            padding: 8px;
            width: 100%;
            border: 2px solid #6a0dad;
            border-radius: 6px;
            background-color: #000;
            color: #fff;
            outline: none;

        }

        input:focus {
            border-color: #ffdd00;
        }

        input[type="submit"] {
            padding: 10px;
            width: 100%;
            margin-top: 50px;
            border: none;
            border-radius: 8px;
            background: linear-gradient(90deg, #6a0dad, #ffdd00);
            color: #000;
            transition: 0.3s;
        }

        input[type="submit"]:hover {
            transform: scale(1.05);
            cursor: pointer;
        }

        
        button {
            background: linear-gradient(90deg, #6a0dad, #F9C542);
            border: none;
            color: #000;
            font-weight: bold;
            padding: 10px 20px;
            border-radius: 8px;
            cursor: pointer;
            box-shadow: 0 0 15px #6a0dad88;
            transition: 0.3s;
        }

        button:hover {
            transform: scale(1.1);
            cursor: pointer;
        }

        p {
            color: #fff;
        }

        section.produtos {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            padding: 60px 20px;
        }

        .Logo-do-Site {
            display: block;      
            margin: 0 auto; 
            padding: 0 0 0 0;     
        }

        .foto-da-equipe{

            display: block;
            margin: 0 auto;
            width: 100%;
            border: 6px solid;
            border-image: linear-gradient(45deg, #eeff00, #c500f7) 1;
            border-radius: 18px;

        }

        .guilda-texto {
            text-align: center;         
            color: #fff;                
            background-color: #111;     
            border: 2px solid #6a0dad;  
            border-radius: 12px;         
            padding: 25px 30px;
            max-width: 800px;
            margin: auto auto;          
            box-shadow: 0 0 20px #6a0dad88;
        }

        .produto {
            background-color: rgba(0, 0, 0, 0.8);
            border: 3px solid;
            border-image: linear-gradient(45deg, #ffdd00, #6a0dad) 1;
            border-radius: 18px;
            width: 300px;
            text-align: center;
            padding: 25px;
            box-shadow: 0 0 20px #6a0dad88;
            transition: 0.3s;
        }

        .produto:hover {
            transform: scale(1.05);

        }

        .produto img {
            width: 100%;
            
            margin-bottom: 15px;
        }

        h3 {
            color: #F9C542;
            text-shadow: 2px 2px 6px #2d112e;
            margin: 10px 0;
        }

        .produto p {
            color: #ddd;
            text-shadow: 1px 1px 3px #000;
            margin-bottom: 20px;
        }


        .linha-vendidos {
            max-width: 2500px;
            margin: 60px auto;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.75);
            border: 2px solid #6a0dad;
            border-radius: 15px;
            box-shadow: 0 0 20px #6a0dad88;
            text-align: center;
        }

        .lista-produtos {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
        }

        .lista-produtos h1 {

            font-weight: bold; 
            font-size: 1.8em;
            text-align: center;
            background: linear-gradient(90deg, #6a0dad, #ffdd00); 
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent;
            text-shadow: 0 0 10px rgba(106, 13, 173, 0.5); 
            margin-top: 10px;

        }

        .lista-produtos .item {
            background-color: rgba(27, 27, 27, 0.9);
            border: 2px solid;
            border-image: linear-gradient(45deg, #ffdd00, #6a0dad) 1;
            border-radius: 12px;
            width: 200px;
            padding: 15px;
            box-shadow: 0 0 15px #6a0dad88;
            transition: transform 0.3s;
        }

        .lista-produtos .item:hover {
            transform: scale(1.05);

        }

        .lista-produtos .item img {
            width: 100%;
            border-radius: 10px;
            border: none;
        }

        .lista-produtos .item p {
            color: #fff;
            margin: 10px 0;
            text-shadow: 1px 1px 3px #000;
        }


        .aventuras {
            color: #fff;
            padding: 40px 20px;
            text-align: center;
        }

        .titulo-aventura {
            font-size: 1.8em;
            margin: 40px 0 20px;
            text-shadow: 0 0 8px rgba(106, 13, 173, 0.6);
        }

        .linha-aventuras {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 40px;
        }

        .bloco-aventura {
            background-color: #1a1a1a;
            border: 2px solid #6a0dad;
            border-radius: 12px;
            width: 280px;
            padding: 20px;
            box-shadow: 0 0 20px rgba(106, 13, 173, 0.5);
            transition: transform 0.2s;
        }

        .bloco-aventura:hover {
            transform: scale(1.05);
        }

        .bloco-aventura img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
            border-image: linear-gradient(45deg, #eeff00, #c500f7) 1;
        }

        .bloco-aventura h3 {
            color: #ffdd00;
            margin-bottom: 10px;
            text-shadow: 0 0 8px #6a0dad;
        }
